*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}
a{
    text-decoration: none;
}

body{
    background: url(/images/pattern-background-desktop.svg) center center no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
main{
    margin-top: 200px;
    margin-bottom: 100px;
    background-color: #fff;
    max-width: 416px;
    border-radius: 1rem;
}
main section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
    height: 100%;
    width: 100%;
}

main section h1{
    margin-top: 2rem;
    margin-bottom: 1rem;
    color:hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: xx-large;
}

main section span{
    color: hsl(224, 23%, 55%);
    text-align: center;
}
.textoPrincipal{
    text-align: center;
}
main img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}
.imagemPrincipal{ /**/
    width: 118%;
}

.secaoPagamento{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: hsl(225, 100%, 98%);
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    margin: 2rem 0;
}

.secaoPagamento__iconeMusica{
    display: flex;
    align-items: center;
    
}

.secaoPagamento__iconeMusica img{
    width: 48px;
    margin-right: 16px;
}
.preco{
    display: flex;
    flex-direction: column;
}
.Change{
    color: hsl(245, 75%, 52%);
    font-weight: 600;
    font-size: 90%;
    transition: all 0.3s;
}
.Change a{
    text-decoration: none;
}
.Change a:hover{
    color: hsl(223, 47%, 23%);
    text-decoration: none;
}

button{
    cursor: pointer;
    background-color: hsl(245, 75%, 52%);
    color: #fff;
    font-weight: 600;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: 0 solid;
    transition: all 0.3s;
    box-shadow: 1px 10px 15px hsl(245, 61%, 67%);
}
button:hover{
    background-color: hsl(245, 61%, 67%);
}
#cancel-order{
    margin: 30px 0;
}
#cancel-order:hover{
    color: hsl(223, 47%, 23%);
}

.principal{

}