/*- Very Dark Grayish Blue: hsl(217, 19%, 35%)
- Desaturated Dark Blue: hsl(214, 17%, 51%)
- Grayish Blue: hsl(212, 23%, 69%)
- Light Grayish Blue: hsl(210, 46%, 95%)*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Manrope', sans-serif;
    background-color: hsl(210, 69%, 94%);
    width: 100%;
    height: 100vh;
}

main{
    
}
.secaoCard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.secaoCard-PartePrincipal{
    display: flex;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 15px;
}
.secaoPrincipal{
    padding: 30px;
}

.secaoCard-PartePrincipal img{
    width: 340px;
    height: 340px;
    display: flex;
    align-items: center;
}
.secaoCard-TituloPrincipal{
    width: 400px;
    font-weight: 700; 
    font-size: large;
    margin-bottom: 20px;
    color: hsl(217, 19%, 35%);
}
.secaoCard-ParagrafoPrincipal{
    width: 400px;
    font-weight: 500;
    margin-bottom: 20px;
    color: hsl(212, 23%, 69%);
}
.secaoCard-Perfil{
display: flex;
}
.secaoCard-Perfil img{
    width: 60px;
    height: 60px;
    border-radius: 60px;
}
.secaoCard-fotoPerfil{
    display: flex;
    align-items: center;
    
}
.perfilNome{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}
.secaoCard-nomePerfil{
    
}
.secaoCard-dataPerfil{
    color: hsl(212, 23%, 69%);
}